<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/problem', getId(), 'description']" routerLinkActive = "active">Description</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink] = "['/problem', getId(), 'tutorial']" routerLinkActive = "active">Tutorial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['/problem', getId(), 'submission']" routerLinkActive = "active">Submissions</a>
      </li>
    </ul>
  
</nav>